#mapage
{
max-width: 1280px;
}
/*Body*/
body
{
    font-family:Raleway,Arial,sans-serif;
    margin-top:0;
    padding: 0;
    border: none;
    color: black;
    display: flex;
    justify-content: center;
}
/*---header*/
#P1
{
  font-family: 'Raleway', sans-serif;
  margin-left: 15px;
  cursor: text;
  font-size: 17px;
}
body h1
{
    font-size: 34px;
    margin-left: 15px;
    cursor: text;
}
/*---header*/
#headercontainer
{
  display: flex;
  flex-direction: row;
    justify-content: space-between;
}
#containermenu
{
  display: flex;
  flex-direction: row;
}
#nav1 {
  display: flex;
  flex-direction: row;
}
.logo1 img
{
    height: 115px;
    width: 67px;
}
#headercontainer img {
  padding: 30px 0 20px 40px;
  width: 113px;
  height: 63px;
}

ul {
  list-style-type: none;
  margin: 0;
    display: flex;
}
nav ul li {
  padding-right: 20px;
  padding-top: 45px;
}
nav ul li a {
  padding: 43px 25px 0;
}
nav ul li a:hover {
  border-top: 2px solid;
    color: #0065fc;
}
nav a
{
    text-decoration: none;
    color: black;
}
 nav .hebergement1
{
    color:#0065fc;
      border-top: 2px solid;
}

#inscrire {
  font-weight: bold;
  padding: 45px 70px 0 30px;    
  color: #0065fc;

}

#inscrire :hover {
  text-decoration: underline;
}

/*---SEARCHBAR*/
#barrederecherche
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.map
{
    background-color:#F2F2F2; 
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px; 
    display: flex;
    align-items:center;
    margin-left:15px;
    background-color: #f2f2f2;
    padding: 15px 20px 16px 20px;
}
input
{
    padding: 15px 20px 16px 20px;
    border-left: none;
    border: solid;
    border-width:1px;
    border-color: #F2F2F2;    
}
::placeholder {
 font-family: "Raleway", "sans-serif";
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.loup {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 1rem ;
    padding: 15px 20px 15px 20px;
    font-size: 1em;
    cursor: pointer;
}
#boutonloupe 
{
    display: none;
    transform: scale(1);
    transition: 400ms;
}
#boutonloupe:hover
{
    transform: scale(1.05);
}
.btn
{
   background-color: #0065fc;
   color: white;
   padding: 15px 20px 16px 20px;
   font-family: "Raleway", "sans-serif";
   font-weight: bold;
   font-size: 16px;
   border: transparent;
   border-radius: 0 10px 10px 0;
   text-align: center;
   cursor: pointer;
   transform: scale(1);
    transition: 400ms;
}
.btn:hover
{
  transform: scale(1.05);
      transition: 400ms;
}
/*FILTER*/
#allfilter
{
    display: flex;
    justify-content:flex-start;
    flex-flow: row wrap;
    margin-top: 30px;
    margin-left: 20px;
}
.filtercontainer
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:flex-start;
}
.filtertitle
{
    margin-right: 30px;
    margin-top: 25px;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
}
.icone1
{
    display: flex;
    align-self:center;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid;
    border-width:2px;
    border-color: #F2F2F2;
    border-radius: 70px;
    align-items: center;
    font-weight:bold;
    border-left:none;
    transition:all 300ms;
    height: 43px;
}
.icone1:hover
{
    background-color:#DEEBFF; 
    transform: scale(1.05);
}

.iconemoney
{
   color:#0065FC;
    border-radius:100%;
    padding: 13px 12px 13px 12px;
    display: flex;
    align-self: center;
    background-color:#DEEBFF;
    margin-right: 10px;
}
.iconechild
{
   color:#0065FC;
    border-radius:100%;
    padding: 13px 15px 13px 15px;
    background-color:#DEEBFF;
    display: flex;
    align-self: center;
    margin-right: 10px;
    }
.iconeheart
{
    color:#0065FC;
    border-radius:100%;
   padding: 13px;
    background-color:#DEEBFF;
    }
.iconedog
{
     color:#0065FC;
    border-radius:100%;
    padding: 13px;
    background-color:#DEEBFF;
    margin-right: 10px;
    display: flex;
    align-self: center;
}
.text1
{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 17px;
}
/*INFO*/
.info
{
    display: flex;
    flex-direction: row;
     margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.iconeinfo
{
   color: #0065fc;
  font-size: small;
  border: 1px #d0d0d0 solid;
  border-radius: 100%;
  padding: 5px 10px 5px 10px ;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 13px;
}
.infophrase
{
margin-top:25px;
margin-top: auto;
margin-bottom: auto;
margin-left:10px;
cursor: text;
}
/*section1+section2*/
#section12
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*section1*/
#section1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:850px;
    height:550px;
    background-color:#F2F2F2;
    padding: 10px;
    border-radius: 17px;
    margin: 0;
    margin-right: 30px;
    margin-top: 20px;   
    height: auto; 
}
.containercases
{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
section a
{
    text-decoration: none;
}
.hebergements
{
font-family: 'Raleway', sans-serif;
margin-left: 20px;
font-size: 20px;
}
.cases1
{
    background-color: white;
    border-radius: 17px;
    padding: 1px;
    border:solid;
    border-color: white;
    margin: 10px;
    margin-top: 35px;
    height: auto;
    width: auto;
    font-size: 12px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
    transform: scale(1);
    transition:400ms;
}
.cases1:hover
{
    transform: scale(1.05);
}
.title1
{
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-left: 10px;
    font-size:17px; /*les tittres de cases*/
}
.prix1
{
 font-family: 'Raleway', sans-serif;
  color: black;
  padding: 10px;
  font-size: 12px;
}
.images1
{
    height: 110px;
    width:230px;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    object-fit: cover;
}
.iconestar1
{
    display: flex;
    flex-direction: row;
    color: #0065FC;
    padding: 10px;    
}
.showmore
{
   font-weight: bold;
    margin-top: 15px;
    margin-left:20px;
    margin-bottom:10px;
    font-size: 20px;
    display: flex;
    align-self: flex-end;
}
.greystar
{
    color: grey;
}
/* section2*/
#allsection2
{
       background-color: #F2F2F2;
       width:340px;
       padding: 20px;
        margin-top: 20px;
        border-radius: 17px;
}
#section2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 10px; 
}
.iconestar2
{
 color: #0065FC; 
 padding-bottom: 5px;
}
.titre1
{
    color: black;
    font-size: 17px;
}
.images2
{
    height: 133px;
    width:115px;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    display: flex;
    object-fit: cover;
}
.cases2
{
    display: flex;
    flex-direction:row;
    background-color: white;
    border-radius: 17px;
    padding: 1px;
    border:solid;
    border-color: white;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
    transform: scale(1);
    transition:400ms;
    height: 133px;
    }
.cases2:hover
{
    transform: scale(1.05);
}
.iconechart
{
    align-self: center;
    margin-right: 20px;
}
.populaires
{
    color: black;
    font-size:20px; 
    margin-left: 10px;
    margin-bottom: 20px;
}
.titercontainer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1px;
}
section a 
{
    text-decoration: none;
}
.all,.all1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.prix2
{
  color: black;
font-size: 12px;
}
.titrsce2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Fin section2*/
/*section3*/
#section3
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-left:10px;
}
.Activities
{
    display: flex;
    margin-left: 20px;
   font-size:20px; 
}
.images3
{
    height: 300px;
    width:270px;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    object-fit: cover;
}
.casecontainer2
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px;
}
.cases3
{
background-color: white;
width: auto;
height: auto;
border-radius: 17px;
margin-right: 20px;
margin-left: 20px;
box-shadow: 0 0 15px rgba(0, 0, 0, .2);↩
transform: scale(1);
transition:400ms;

}
.cases3:hover
{
   transform: scale(1.05);
   transition: 200ms;
}
.small,.small2
{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.imgpetite1
{
  height:140px;
  width:265px;
  object-fit: cover;
  border-top-right-radius: 17px;
  border-top-left-radius:17px;
}
.imgpetite2
{
height:70px;
width :265px;
object-position: center;
object-fit: cover;
border-radius: 20px 20px 0 0;
}
.imgpetite3
{
width: 265px;
height:115px;
object-fit: cover;
border-radius:17px 17px 0 0;
}
.imgpetite4
{
border-radius:17px 17px 0 0;
 width: 265px;
height:100px; 
object-fit: cover;
} 
.text3
{
    padding-bottom: 3px;
    margin-bottom: 5px;
    margin-top: 3px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
/*footer*/
footer a
{
color: black;
font-size: 1em;
color: black;
padding-bottom: 3px;
text-decoration: none;
font-family: 'Raleway', sans-serif;
}
footer a:hover
{
    text-decoration: underline;
}
.apropos,.noshebergements,.assistance 
{
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 40px 0 50px 0;
}
/*Responsive design pour  tablettes et smartphones*/
@media all and (max-width: 940px) 
{

  nav a
  {
    text-decoration: none;

  }
   #headercontainer img{
    position: absolute;
    padding: 0 0 0 30px;
  }

  #containermenu {
    flex-direction: column-reverse;
    width: 100%;
  }

  #inscrire{
    align-self: flex-end;
    padding: 30px 20px 0 0;
  }

  nav ul {
    padding-left: 0;
    width: 100%;
  }

  nav ul li {
    display: inline-flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px #f2f2f2 solid;
    width: 100%;
  }

  nav ul li:hover {
    border-bottom: 2px solid;
    padding-bottom: 10px;
    color: #0065fc;
    border-top: none;
  }
  nav .hebergement1
{
    color:#0065fc;
      border-top:none;
}

  nav ul li a {
    padding: 0;
    margin: 40px 0 0 20px;
  }

  nav ul li a:hover {
    border-top: none;
  }

footer 
{
    flex-direction: column;
    align-items: flex-start;
}
  .apropos,.noshebergements,.assistance ;
  {
    padding-left: 20px;
  }
.infophrase
{
padding-top: 4px; 
margin-left: 10px;}
#boutonloupe 
{
    display: inline-block;
}
 .btn
    {
    display: none;
    }
.text1
{
padding-right: 10px;
}  
 #section12
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
         width: 100%;
    }
     #section1
    {
    height: auto;  
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
     width: 100%;
     margin-right: 0;
     margin-left: 0;
    }
    .containercases
    {
       display: flex;
       flex-direction: column;   
       align-items: center;
       align-self:center;
       width: 100%; 
    }

    #allsection2,#section3,#section1
    {
               width: 100%;
    }

    #section2
    {
        display: flex;
        align-items: center;
    }
    .cases2
    {
            width:340px;
            display: flex;
            align-self: center;
    }
  #containermenu {
    flex-direction: column-reverse;
    width: 100%;
  }

  #inscrire {
    align-self: flex-end;
    padding: 25px 15px 0 0;
    text-decoration: none;
  }
 #nav1
  {
    width: 100%;
    margin-top:0; 
  }
     #section3
    
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .casecontainer2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
    .cases3
    {
                margin: 10px;

    }
    .text3
{
    padding-bottom: 3px;
    margin-bottom: 5px;
    margin-top: 3px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    text-align: start;
    font-size: 14px;
}
.imgpetite1,.imgpetite2,.imgpetite3,.imgpetite4,.images3,.images1
       {
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        width: 370px;
        height:115px;
        object-fit: cover;
        }
}
    #mapage
    {
       max-width: 1280px;
    }
}